html, body {
	margin: 0;
	padding: 0;
}

body {
	background-size: cover;
}

.container-fluid {
	width: 100%;
	display: inline-block;
}



#header {
	border: none;
	position: fixed;
	background-color: rgba(251, 248, 220, 1);
	z-index: 1;
}


#header .container-fluid {
	background-color: rgba(251, 248, 220, 1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0;
	border-bottom: 10px solid rgba(231, 228, 200, 0.3);
}

#header .row {
	padding: 20px;
	display: inline-block;
	width: 100%;
	margin: 0;
}

#header h3 {
	margin-top: 0;
	text-align: left;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

#header .container-fluid .row {
	position: relative;
	width: 100%;
	margin: 0;
	padding-top: 20px;
}

#header li:nth-child(3) {
	margin-right:0;
	padding-right:0;
}


#header h3 span:hover {
	cursor: pointer;
	border-bottom: 2px solid black;
	color: tomato;
}

#header h3 a {
	text-decoration: none;
	color: black;
}

li {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
	margin-left: 15px;
	border-radius: 6px;
}

li a {
	color: tomato;
	font-weight: bold;
}

#header .btn {
	border: 1px solid tomato;
	transition: color .4s;
	transition: background-color .25s;
	font-weight: bold;
}

#header .btn:hover {
	color: rgba(251, 248, 220, 1);
	background-color: tomato;
	transition: color .4s;
	transition: background-color .25s;
}

#header li a span:hover {
	color: rgba(251, 248, 220, 1);
}

#active {
	color: rgba(251, 248, 220, 1);
	background-color: tomato;
}

#active:hover {
	cursor: default;
}


#navigate {
	position: absolute;
	right: 20px;
	width: 100%;
}
#navigateul {
	position: absolute;
	right: 0;
}



.main {
	padding-top: 50px;
	text-align: center;
}
.main img {
	max-width:700px;
	max-height: 300px;
	height:auto:
	width: auto;
	border-radius: 60px;
}


.main h2, .main h3 {
	color: tomato;
	text-align: center;
	padding-left: 10px;
	margin-top: 50px;
	font-family: 'Passion One', sans-serif;
}



.welc {
	text-align: center;
	margin-top: 60px;
	color: tomato;
	font-family: 'Passion One', sans-serif;
	margin-bottom: 40px;
}

.welc2 {
	text-align: center;
	color: tomato;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}

.welc2 a, #return {
	border: 1px solid tomato;
	padding: 10px 20px;
	margin: 0 160px; 
	border-radius: 50px;
	color: tomato;
	text-decoration: none;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

welc2 a:hover, #return:hover {
	color: rgba(251, 248, 220, 1);
	background-color: tomato;
	text-decoration: none;
	text-align: center;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

#final p a {
	max-width: 200px;
	margin: 0 auto;
	text-align: center;
}