html, body {
	margin: 0;
	padding: 0;
}

body {
	background-size: cover;
}


#header {
	background-color: rgba(0,0,0,0);
	border: none;
}
#header  .container-fluid {
	background-color: rgba(0,0,0,0);
}

#header .container-fluid .row {
	position: relative;
	width: 100%;
	margin: 0;
	padding-top: 20px;
}

#navigate {
	position: absolute;
	right: 20px;
	margin: 0;
	padding: 0;
	width: 100%;
}
#navigateul {
	position: absolute;
	right: 0;
}


#header li:nth-child(3) {
	margin-right:0;
	padding-right:0;
}

#header .row .col-md-7 a {
	font-weight: default;	
}

#header h3 {
	margin-top: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

#header h3 span:hover {
	cursor: pointer;
	border-bottom: 2px solid black;
	color: tomato;
}

#header h3 a {
	text-decoration: none;
	color: black;
}

li {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 500;
	margin-left: 15px;
	border-radius: 6px;
}

li a {
	color: tomato;
	font-weight: bold;
}

#header .btn {
	border: 1px solid tomato;
	transition: color .4s;
	transition: background-color .25s;
	font-weight: bold;
}

#header .btn:hover {
	color: rgba(251, 248, 220, 1);
	background-color: tomato;
	transition: color .4s;
	transition: background-color .25s;
}

#header li a span:hover {
	color: rgba(251, 248, 220, 1);
}

#active {
	color: rgba(251, 248, 220, 1);
	background-color: tomato;
}

#active:hover {
	cursor: default;
}


































.showcase h1, .showcase h4 {
	text-align: center;
	color: tomato;
	font-family: 'Passion One', Garamond;
}

.showcase h1 {
	margin-top: 60px;
}

.showcase .row {
	padding: 10px;
}


.img_hold, .img_hold_2 {
	text-align: center;
	padding: 10px;
	border-radius: 20px;
}

.img_hold img, .img_hold_2 img {
	max-height: 300px;
	max-width: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
}

#tiny-image {
	padding: 40px;
}

#bed-image {
	max-height: 220px;
}

#last-row {
	max-height: 250px;
}

.welc {
	text-align: center;
	margin-top: 60px;
	color: tomato;
	font-family: 'Passion One', sans-serif;
	margin-bottom: 30px;
}

.welc2 {
	text-align: center;
	color: tomato;
	font-family: 'Titillium Web', sans-serif;
	font-size: 13px;
}

.welc2 a, #return {
	border: 1px solid tomato;
	padding: 10px 20px;
	margin: 0 160px; 
	border-radius: 50px;
	color: tomato;
	text-decoration: none;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

welc2 a:hover, #return:hover {
	color: rgba(251, 248, 220, 1);
	background-color: tomato;
	text-decoration: none;
	text-align: center;
	transition: color 0.5s;
	transition: background-color 0.5s;
}

#final p a {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}